<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MOVIES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container">
      <div>
        <label class="labelName">Top Movies Brasil</label>
      </div>
      <div>
        <input class="inputUsername" formControlName = "user" placeholder="Username"/>
      </div>
      <div>
        <input formControlName = "pass" type="password" placeholder="Password"/>
      </div>
      <div>
        <button type="submit">Entrar</button>
      </div>
      <div class="labelSign">
        <label>Não tem uma conta? <a>Sign Up</a></label>
      </div>

    </div>
  </form>
</ion-content>